@using FruityNET.DTOs
@using Microsoft.AspNetCore.Identity
@using FruityNET.Entities


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model GroupDetailsDTO

@{
    ViewData["Title"] = "Group Details";
}

<h4>Group Details</h4><br>
@if(Model.GroupOwner.Equals(Model.CurrentUsername))
{
  <a class="btn btn-primary btn-sm"
                        asp-controller="Groups"

                        asp-action="AddGroupMember"

                         asp-route-id="@Model.Id">
                        Add User To Group
                </a><br></br>
}


<div class="card">
  <div class="card-header">
    @Model.Name
  </div>
  <div class="card-body">
    <h5 class="card-title">Description: @Model.Description</h5>
    <p class="card-text">Created On: @Model.CreationDate</p>
        <p class="card-text">Created By: @Model.GroupOwner</p>

   
  </div>
</div>
<br></br>


<h3>Group Members</h3>
<ul class="list-group">
  @foreach (var user in Model.GroupMembers)
  {
        <li class="list-group-item">@user.Username
          @if(user.UserId != UserManager.GetUserId(User) )
          {
            @if(Model.GroupOwner.Equals(Model.CurrentUsername))
            {
             <a class="btn btn-danger btn-sm"
                        asp-controller="Groups"

                        asp-action="RemoveUser"

                         asp-route-id="@user.Id">
                        Remove
                </a>}
          }
         
         
        </li>

        

  }
  @if(Model.GroupMembers.Count is 0)
  {
    <p>Add Members To Group.</p>
  }
