@using FruityNET.DTOs
@using FruityNET.Enums

@model AdminPortalViewDTO


@{
    ViewData["Title"] = "Admin Portal";
}
<a class="btn btn-primary btn-sm"
                        asp-controller="Admin"
                        asp-action="Requests">
                        @if(Model.RequestCount != 0)
                        {<span class="badge badge-light">@Model.RequestCount</span>}
                         Admin Requests 
                </a>
<h1 style="text-align: center;">Manage Users</h1><br>

   <table class="table table-hover table-light">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">First </th>
      <th scope="col">Last </th>
      <th scope="col">Email </th>
      <th scope="col">Last Active </th>
      <th scope="col"> Role</th>
      <th scope="col"> </th>
      <th scope="col"> </th>

    </tr>
  </thead>
  
        @foreach (var account in Model.Accounts)
{
      <tbody>
      <td>@account.Username</td>
      <td>@account.FirstName</td>
      <td>@account.LastName</td>
      <td>@account.Email</td>
      <td>@account.LastActive</td>
      <td>@account.UserType</td>
      <td>
          @if(account.UserType != UserType.Admin && account.UserType != UserType.SiteOwner && account.AccountStatus.Equals(Status.Active))
          {
               <a class="btn btn-info btn-sm"
                        asp-action="GrantAdminAccess"
                        asp-route-id="@account.Id">
                        Grant Admin 
                </a>
          }
          else if(account.UserType == UserType.Admin && account.AccountStatus.Equals(Status.Active))
          {
              <a class="btn btn-danger btn-sm"
                        asp-action="RevokeAdminAccess"
                        asp-route-id="@account.Id">
                        Revoke Admin 
                </a>
          } 
          
         
      </td>
      <td>
          @if(account.AccountStatus == Status.Active && account.UserType != UserType.SiteOwner)
          {
               <a class="btn btn-danger btn-sm"
                        asp-action="Suspend"
                        asp-route-id="@account.Id">
                        Suspend Account
                </a>
          }
          else if(!account.AccountStatus.Equals(Status.Active))
          {
              <a class="btn btn-info btn-sm"
                        asp-action="Activate"
                        asp-route-id="@account.Id">
                        Activate Account
                </a>
          } 
         
      </td>
      
          </tbody>

      }
        </table>
   
     


 