@using FruityNET.DTOs



@model NotificationsViewDTO

@{
    ViewData["Title"] = "Notifications";
}

<h3 style="text-align: center;">Notifications</h3><br><br><br>


@foreach (var Notification in Model.AllNotifications)
{
     <div class="card">
  <div class="card-body">
    <h4 class="card-title">
    
    <p class="card-text">@Notification.Message      <a class="btn btn-danger btn-sm"
                        asp-asp-controller="Accounts"

                        asp-action="DeleteNotification"
                        asp-route-id="@Notification.Id">
                        
                        <i class="fa fa-remove" ></i>




                </a></p>
    <p style="font-size: 11px;">@if(Notification.ElapsedMinute >= 0 && Notification.ElapsedHour < 1){ <p>@if(Notification.ElapsedMinute.Equals(1))
      { <p style="font-size: 11px;">@Notification.ElapsedMinute min ago</p>}
      else if(Notification.ElapsedMinute < 1){ <p style="font-size: 11px;">now</p>}  
        else{<p style="font-size: 11px;">@Notification.ElapsedMinute mins ago</p>}</p> }
      else
    {
        <p>@if(Notification.ElapsedHour.Equals(1)){ <p style="font-size: 11px;">@Notification.ElapsedHour hour ago</p>} 
        else{<p style="font-size: 11px;">@Notification.ElapsedHour hours ago</p>}</p> 
    }</p>
    
    
  </div></div><br>

}