@using Microsoft.AspNetCore.Identity
@using FruityNET.Entities


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@using FruityNET.DTOs



@model SearchUserDTO

@{
    ViewData["Title"] = "Find Friends";
}
@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div class="alert alert-danger">@ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}
else
{
  @if(@Model.InviteCount != 0 )
{
        <div class="alert alert-danger">You have @Model.InviteCount friend invite(s).
    </div>
}
}
<br>
    <div class="jumbotron">
        <h4 style="text-align: center;">Connect</h4><br>
        <form asp-action="Search" method="post" role="form" style="text-align: center;">
             <div class="form-group >
                    
                   <label asp-for="Username">Filter by Username
                    </label>
                    <input asp-for="Username" type="text" placeholder="Username"  />
                                      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>

                </div> 
                @if(!String.IsNullOrEmpty(Model.Username))
                {
                  <a class="btn btn-secondary btn-sm"
                        asp-controller="Accounts"
                        asp-action="Search">
                        Back
                </a>
                }
                                                   
                <span asp-validation-for="Username" class="text-danger"></span>
            </form></div>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Username </th>
      <th scope="col">First Name </th>
      <th scope="col">Last Name </th>
      <th scope="col">Role </th>
      <th scope="col"> </th>
            <th scope="col"> </th>
    </tr>
  </thead>
    <tbody>
          @foreach (var result in Model.Users)
    {
        <tr>
      <td>@result.Username</td>
      <td>@result.Firstname</td>
      <td>@result.Lastname</td>
      <td>@result.UserType</td>
      <td> 
        @if(result.UserId == UserManager.GetUserId(User))
        {
            <a class="btn btn-success btn-sm"
                        asp-action="Profile"
                        >
                        Your Profile
                </a>
        }
        else
        {
           <a class="btn btn-primary btn-sm"
                        asp-action="UserProfile"
                         asp-route-id="@result.Id">
                        View Profile
                </a>
        }
        </td>
        <td>
        @if(result.UserId != UserManager.GetUserId(User) && (result.isFriendsOfCurrentUser is false && result.RequestIsPending is false) )
        {
       
             <a class="btn btn-info btn-sm"
                        asp-controller="FriendList"

                        asp-action="SendInvite"

                         asp-route-id="@result.ResultUserFriendListID">
                        <i class='fas fa-user-plus' style='font-size:14px;color:white'></i>
                          Send Invite
                </a>
        }
        @if(result.isFriendsOfCurrentUser )
        {
            <p>You and @result.Username are friends.</p>
        }
        @if(result.Request != null)
        {
           @if(result.Request.Username.Equals(UserManager.GetUserName(User)))
        {
            <a class="btn btn-danger btn-sm"
                        asp-controller="FriendList"
                        asp-action="CancelInvite"
                        asp-route-id="@result.RequestId">
                       <i class="fa fa-remove" style="color: white;"></i>
                         Cancel Invite
                </a>
        }
        else if(!result.Request.Username.Equals(UserManager.GetUserName(User)) && result.RequestIsPending)
        {
            <p style="color: red;">Pending request from @result.Username</p>
        }
        }
       
        </td>
        <td></td>
    </tr>
    }
    </tbody>
        </table>
     


    


