@model ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}
<h4>User Profile</h4><br>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="~/css/default-profile.png" alt="Card image cap">
  <div class="card-body">
    <h3 class="card-title" style="text-align: center;">@Model.FirstName @Model.LastName</h3>
    <h6 class="card-text" style="text-align: center;">About Me</h6>
  </div>
  <ul class="list-group ">
    <li class="list-group-item">Location: @Model.Location</li>
    <li class="list-group-item">Occupation: @Model.Occupation</li>
    <li class="list-group-item">Last Active: @Model.LastActive</li>
        <li class="list-group-item">Member Since: @Model.JoinDate</li>
                <li class="list-group-item" style="color: red;">Role:  @Model.UserType</li>
                  <div class="card-body">

                  @if(Model.ExistingFriend is null && Model.PendingRequest is null)
  {
        <a class="btn btn-info btn-sm"
                        asp-controller="FriendList"

                        asp-action="SendInvite"

                         asp-route-id="@Model.FriendListID">
                        <i class='fas fa-user-plus' style='font-size:14px;color:white'></i>
                        Send Invite
                </a>
  }
  else if(Model.PendingRequest != null)
  {
       <p><a class="btn btn-danger btn-sm"
                        asp-controller="FriendList"

                        asp-action="CancelInvite"

                         asp-route-id="@Model.PendingRequest.Id">
                        <i class='fas fa-user-plus' style='font-size:14px;color:white'></i>
                        Cancel Invite
                </a></p>
  }
 </div>


  </ul>


  
</div>

<br>
<h3>Groups</h3>
<ul class="list-group">
  @foreach (var group in Model.Groups)
  {
       <li class="list-group-item">
          <a 
                        asp-controller="Groups"
                        asp-action="GroupDetails"
                        asp-route-id="@group.Id">
                       @group.Name
          </a>
       </li>

        

    }

    @if(Model.Groups.Count is 0)
    {
       <li class="list-group-item">No Groups</li>
    }
     
</ul><br>

<h3>Friends</h3>
<ul class="list-group">
  @foreach (var friend in Model.Friends)
  {
    <li class="list-group-item"><a 
                        asp-controller="Accounts"

                        asp-action="UserProfile"

                         asp-route-id="@friend.AccountId">
                        
                        @friend.Username

                </a></li>

  }
  @if(Model.Friends.Count is 0)
  {
    <p>No Friends</p>
  }
 
</ul>