@using FruityNET.DTOs
@using Microsoft.AspNetCore.Identity
@using FruityNET.Entities
@using FruityNET.Enums




@model PostViewDto

@{
    ViewData["Title"] = "Community";
    var sum = Model.NotificationCount + Model.FriendRequestCount;
}

@inject UserManager<User> UserManager
   
@if(@Model.NotificationCount != 0 || @Model.FriendRequestCount != 0)
{
        <div class="alert alert-info">Hi @UserManager.GetUserName(User), You have @sum notifications.
    </div>
}

 <a class="btn btn-primary btn-sm"
                        asp-action="Post">
                        Post Status
                </a>
                @if(@Model.NotificationCount != 0)
                {
                        <a class="btn btn-info btn-sm"
                        asp-controller="Accounts"
                        asp-action="Notifications">
                         <i style="font-size:13px" class="fa">&#xf0f3;</i> Alerts <span class="badge badge-light">@Model.NotificationCount </span>
                </a>
                }
                @if(@Model.FriendRequestCount != 0)
                {
                         <a class="btn btn-danger btn-sm"
                        asp-controller="FriendList"
                        asp-action="Invites">
                         <i style='font-size:11px' class='fas'>&#xf0c0;</i> Friend Invites <span class="badge badge-light">@Model.FriendRequestCount </span>
                </a>
                }
                

<br></br>
@foreach (var post in Model.AllPosts)
{
    <div class="card">
  <div class="card-body">
    <h7 class="card-title">
             @if(post.IdentityId == UserManager.GetUserId(User))
             {
                     <a 
                        asp-controller="Accounts"

                        asp-action="Profile">
                        
                       @post.Username

                </a>
             }
                else
                {
                          <a 
                        asp-controller="Accounts"

                        asp-action="UserProfile"

                         asp-route-id="@post.UserId">
                        
                       @post.Username

                </a>
                }
          
    </h7>
    <h7 class="card-subtitle mb-2 text-muted">@post.DatePosted</h7>
    <p class="card-text">@post.Content</p>
    <a class="btn btn-default btn-sm"
                        asp-action="ViewPost"
                        asp-route-id="@post.Id" style="color: black;">
                        <i class="fa fa-eye"></i>
                        View
                </a>
    <a class="btn btn-default btn-sm"
                        asp-action="AddCommentToPost"
                        asp-route-id="@post.Id" style="color: black;">
                        Comment
                </a>

      

        @if((post.IdentityId == UserManager.GetUserId(User) || Model.Permissions == UserType.Admin || Model.Permissions == UserType.SiteOwner) && post.Role.Equals(UserType.User))
        {
            <a class="btn btn-default btn-sm"
                        asp-action="Edit"
                        asp-route-id="@post.Id">
                        <i class="fa fa-edit" style="font-size:12px;color: black;"></i>
                </a>

                 <a 
                        asp-action="Delete"
                        asp-route-id="@post.Id">
                        
                        <i class='fas fa-trash' style='font-size:12px; color:black;'></i>






                </a>
        }
    
  </div></div><br>
}
