@using FruityNET.DTOs
@using Microsoft.AspNetCore.Identity
@using FruityNET.Entities
@using FruityNET.Enums

@inject UserManager<User> UserManager


@model PostViewDetaisDTO

@{
    ViewData["Title"] = " View Post";
}
 <a class="btn btn-default btn-sm"
                        asp-action="AllPosts">
                        Back
                </a><br><br>
<div class="card">
  <div class="card-body">
    <h6 class="card-title">@Model.Username</h6>
    <p class="card-text">@Model.content</p>
        <h7 class="card-subtitle mb-2 text-muted">@Model.DatePosted</h7><br>
           @if((Model.UserID == UserManager.GetUserId(User) || Model.Permissions == UserType.Admin || Model.Permissions == UserType.SiteOwner) && Model.PostUserRole.Equals(UserType.User))
        {
   <a class="btn btn-default btn-sm"
                        asp-action="Edit"
                        asp-route-id="@Model.PostId">
                        <i class="fa fa-edit" style="font-size:12px;color: black;"></i>
                </a>
                 <a 
                        asp-action="Delete"
                        asp-route-id="@Model.PostId">
                        
                         <i class="fa fa-remove" style="color: red;"></i></a>
                             
                }
                <a class="btn btn-default btn-sm"
                        asp-action="AddCommentToPost"
                        asp-route-id="@Model.PostId" style="color: black;">
                        Comment
                </a>
    </div></div><br>

<h7>Comments</h7>
@foreach (var comment in Model.comments)
{
    <div class="card">
  <div class="card-body">
    <h6 class="card-title">@comment.Username</h6>
    <h6 class="card-subtitle mb-2 text-muted">@comment.DatePosted</h6>
    <p class="card-text">@comment.Content</p>
    <a class="btn btn-danger btn-sm"
                        asp-action="DeleteComment"
                        asp-route-id="@comment.CommentId" style="color: black;">
                        Delete
                </a>
    
  </div></div><br>
}
